Hi,<br />
<%= @sender.profile.first_name %> <%= @sender.profile.last_name %> has invited you to join purchest. <br />
<p>
	Follow the click below to join now! <br/>
	<%= link_to 'Join Now', @signup_url %>
</p>
Thanks,
purchest family