<div id="sidebar-right"><!--side bar right begins here-->
	<div class="content">
		<div id="block-1" class="block">
			<h3>Today's incredible deal!</h3>
			<div class="deal-img"><img src="../images/incredible-deal1.jpg" height="115px" width="266px" alt="incredible deal"></div>
			<div class="description">$14 for 100 Tanning Points ($29.95 Value) or $25 for Two Spray tans ($63.90 Value) at Sunsations Tanning Salon</div>
			<div class="more-link"><a href="#">Learn more</a></div>
		</div>

		<div id="block-2" class="block">
			<h3>Past awesome deals</h3>
			<div class="deal-img"><img src="../images/past-deals.jpg" height="117px" width="268px" alt="past awesome deal"></div>
			<div class="more-link"><a href="#">Learn more</a></div>
		</div>
	</div>
</div><!--sidebar right ends here-->