<div>
	<div>
		<%= link_to 'My Orders', orders_path %>
	</div>
	<div>
		<%= link_to 'Edit Basic User Info', edit_profile_path(current_user.profile) %>
	</div>
	<div>
		<%= link_to 'Change Password', edit_user_registration_path %>
	</div>
</div>